
#logoLogin{
height: 120px;
}
.premioCosto{
font-size: 15px;
font-weight: initial;
line-height: 2;

}

#modal {
position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(20,20,20,0.8);
     z-index: 24;
  
  display: none;
}

.h1Rank{
text-align: center; 
color: rgb(7, 74, 50);
}


.bloqueado{
opacity: 0.8;
background-color: lightgray;
}
#headerLogros{
color: #FFF;
font-size: 23px;
line-height: 1;
}
.item p{
margin-left: 61px !important;
}
.page1Items img{

}
.page1Items{
margin-top: 17px;
font-size: 19px;
color: #074A32;
}
.page1Items button{}
.page1Items a:nth-child(2){
padding-left: 13px;
position: absolute;
padding-top: 20px;
}
.page1Items a:nth-child(3){
position: absolute;
padding-top: 20px;
right: 0px;
padding-right: 40px;
font-weight: initial;
}
.item p b{
font-size: 17px;
}
.imgLogro{
width: 50px;
height: 50px;
position:absolute;
}

.numberRank{
position: absolute;
right: 0px;
top: 0px;
padding-top: 14px;
padding-right: 10px;
}

#iconMainMenu{
left: 0px;
position: absolute;
margin-left: -10px;
height: 30px;
width: 82px;
} 
.userPicture{
height: 62px;
border-radius: 360px;
margin-top: 13px;
border: solid 2px white;
}
#tituloTab{
position: absolute;
left: 0;
margin-left: 80px;
line-height: 1.2;
}

#iconLogro{background: url("../img/logros.png") no-repeat scroll 0% 0% transparent; }
#iconPoints{
background: url("../img/iconosGame/chanchito.png") no-repeat scroll 0% 0% transparent; 
height: 48px;}
#iconTree{
background: url("../img/iconosGame/arbol.png") no-repeat scroll 0% 0% transparent; 
height: 48px;}
#iconFoot{

background: url("../img/iconosGame/foot.png") no-repeat scroll 0% 0% transparent; 
height: 48px;
}
#icons{background: url("../img/coin.png") no-repeat scroll 0% 0% transparent; }

.itemsMenu>ul>li{
padding-left: 60px;

text-align: left;
line-height: 0;
}
.createUs{
margin-top: 17px;
width: 90%;
margin-left: 5%;

}
.spanLogin{
width: 38%;
position: absolute;
color:white;
text-align: center;
height: 43px;
font-size: 18px;
line-height: 2;
}
.loginPage{
background-color:#0C8F63;
top: 160px;

}

#loginButton{
background-color: #074A32;
color: #FFF;
width: 76%;
margin-left: 12%;
margin-top: 28px;
border: none;
font-size: 20px;

}
.loginPage div{
margin-top: 52px;
width: 76%;
margin-left: 12%;
}

.loginPage div .item{
border-radius: 4px;
margin-top: 8px;
}

.itemsMenu>ul>li>p{
text-align: justify;
line-height: 1;
position: absolute;
margin-top: 14px;
}

.containerComprar{
background-color: #E5E5E5;
width: 88%;
margin-left: 6%;
margin-top: 89px;
text-align: center;

border-radius: 12px;
}
jsv-tab div #questContainer{


border-top: solid white;
}

jsv-tab div #questContainer img{

margin-top: 10px;
}
jsv-tab div #questContainer #questButton{
height: 38px;
width: 48%;
background-color: #0C8F62;
margin-left: 26%;
position: absolute;
border-radius: 7px;
text-align: center;
line-height: 2.5;
font-size: 15px;
color: #FFF;
font-weight: initial;
margin-top: 12px;
}
.itemsMenu>ul{
list-style: none inside none;
padding: 0 !important;
margin-left: 9px;
}

.divProfileInfo{
/* background: url(../img/fondoMindco.jpg);*/
width: 100%;
height: height: 325px;
background-color: #e5e5e5;
position: absolute;
background-size: cover;
text-align: center;
height: 100%;

}

.divProfileInfo span{
color: #074A32;
font-size: 21px; 
display: inherit;
 margin-bottom: 10px;
 bottom: 0px; 
font-weight:initial;
}

#progressbar {
background-color: #000;
border-radius: 13px;
padding: 3px;
width: 50%;
margin: auto;
}

#progressbar > div {
   background-color: orange;
   width: 40%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

