<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mindco.gotreeco"
        version     = "0.0.1" >


    <name>GoTreeco2 App</name>

    <description>
        Version alpha del app para la estacion de reciclaje 
    </description>

    <author href="http://www.mindco2.xyz" email="jralfarog@mindco2.xyz">
        Raul Alfaro
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" /> 
  
 	
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="EnableViewportScale" value="true" />

	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
   
   <access origin="*" subdomains="true" />

</widget>

