<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mindco.gotreeco"
        version     = "0.0.1" >


    <name>GoTreeco2 App</name>

    <description>
        Version alpha del app para la estacion de reciclaje 
    </description>

    <author href="http://www.mindco2.xyz" email="jralfarog@mindco2.xyz">
        Raul Alfaro
    </author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />

   <gap:plugin name="org.apache.cordova.inappbrowser" version="0.6.0" />
   <gap:plugin name="org.apache.cordova.device" version="0.3.0" />

</widget>

