<jsv-header class='bgTreeco' id='headerLogros'>
    <button-header-left onclick="$JSView.back()"><i style="font-size: 39px; color: white; line-height: 0;" class="fa fa-arrow-circle-o-left"></i>
</button-header-left>
    Logros
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content style='background-color: #E5E5E5;'>
    <!--   <h1 class="paddingFull10">Content View B</h1>
    <button class="bgYellow" onClick="$JSView.goToView('viewC')">Go to view C</button>
    -->


    <jsv-list class="card-list">
	 <jsv-list class="card-list">
 
        <jsv-item class="item">
	<div class="imgLogro"><img src='img/iconosGame/logro1.png'></div>
            <p><b>Registrarse</b> </br>Registrarse correctamente en GoTreeCO2</p>
            <div class="tools row">
                <div class="col">400XP</div>
                <div style="text-align: right;" class="col">19 de agosto</div>

            </div>
        </jsv-item>

        <jsv-item class="item">
	<div class="imgLogro"><img src='img/iconosGame/logro2.png'></div>
            <p><b>Saluda un TreeCo2!</b> </br>Copia el QR de cualquier estacion TreeCO2</p>
            <div class="tools row">
                <div class="col">500XP</div>
                <div style="text-align: right;" class="col">20 de agosto</div>

            </div>
        </jsv-item>

        <jsv-item class="item bloqueado">
	<div class="imgLogro"><img src='img/iconosGame/logroBloqueado.png'></div>
            <p><b>Primera Mision!</b> </br>Completa tu primer mision en GoTreeCO2</p>
            <div class="tools row">
                <div class="col">300XP</div>
                <div style="text-align: right;" class="col">Logro Bloqueado</div>

            </div>
        </jsv-item>

        <jsv-item class="item bloqueado">
	<div class="imgLogro"><img src='img/iconosGame/logroBloqueado.png'></div>
            <p><b>Deposito</b> </br>Realiza un deposito en la estacion GoTreeCO2</p>
            <div class="tools row">
                <div class="col">900XP</div>
                <div style="text-align: right;" class="col">Logro Bloqueado</div>

            </div>
        </jsv-item>

        <jsv-item class="item bloqueado">
	<div class="imgLogro"><img src='img/iconosGame/logroBloqueado.png'></div>
            <p><b>5 Misiones</b> </br>Termina 5 misiones</p>
            <div class="tools row">
                <div class="col">600XP</div>
                <div style="text-align: right;" class="col">Logro Bloqueado</div>

            </div>
        </jsv-item>
        
    </jsv-list>
</jsv-content>

