<jsv-header style='height: 150px;padding-top: 10px;border-bottom: medium none;'>
     <img id='logoLogin' src='img/goTreeco.png'>
</jsv-header>
<jsv-content  class=loginPage>
    <div>
    <label class="item"><input type="email" placeholder="Email"></label>
    <label class="item"><input type="password" placeholder="Password"></label>
    </div>

    <button id="loginButton" onClick='loginButton()'>Log in</button>
    <span></span>
    <div>
	<span class="spanLogin">Forgot?</span>
	<span class="spanLogin" onClick="openModal()" style="margin-left: 38%;border-left: solid 1px white;">New User?</span>
    </div>
</jsv-content>
